In [1]:
%load_ext autoreload
%autoreload 2

In [7]:
import os
import glob

path_folder = os.path.join('data_label_fin3', '*')
files = glob.glob(path_folder)
files.sort()
files

['data_label_fin3/00000_00499.joblib',
 'data_label_fin3/00500_00999.joblib',
 'data_label_fin3/01000_01499.joblib',
 'data_label_fin3/01500_01999.joblib',
 'data_label_fin3/02000_02499.joblib',
 'data_label_fin3/02500_02999.joblib',
 'data_label_fin3/03000_03499.joblib',
 'data_label_fin3/03500_03999.joblib',
 'data_label_fin3/04000_04499.joblib',
 'data_label_fin3/04500_04999.joblib',
 'data_label_fin3/05000_05499.joblib',
 'data_label_fin3/05500_05999.joblib',
 'data_label_fin3/06000_06499.joblib',
 'data_label_fin3/06500_06999.joblib',
 'data_label_fin3/07000_07499.joblib',
 'data_label_fin3/07500_07999.joblib',
 'data_label_fin3/08000_08499.joblib',
 'data_label_fin3/08500_08999.joblib',
 'data_label_fin3/09000_09499.joblib',
 'data_label_fin3/09500_09999.joblib']

In [9]:
import os
import glob

import pandas as pd
import joblib

def dumpJoblib(fileName, obj):
    with open(fileName, mode="wb") as f:
        joblib.dump(obj, f, compress=3)
        
def loadJoblib(fileName):
    with open(fileName, mode="rb") as f:
        return joblib.load(f)
    
df = loadJoblib('data_label_fin3/00000_00499.joblib')

for file in files[1:] :
    tmp = loadJoblib(file)
    df = pd.concat([df, tmp])
    
len(df)

10000

In [14]:
df.columns

Index(['ex_index', 'tweet_id', 'tweet_full_text', 'tweet_favorite_count',
       'tweet_created_at', 'label', 'label2', 'finlabel'],
      dtype='object')

In [17]:
copy = df.copy()
final = copy.loc[:, ['tweet_id', 'finlabel']]
final.head()

              tweet_id  finlabel
0  1370151453805871104         1
1  1396246713044652032         4
2  1397335585459560449         4
3  1375959601900777474         3
4  1347685399552880641         4

In [20]:
contain = copy.loc[:, ['tweet_id', 'tweet_full_text', 'finlabel']]
contain.head()

,tweet_id,tweet_full_text,finlabel
0,1370151453805871104,おはようございます☀\n\n休職382日目。昨日はたくさんのリプありがとうございました😭✨こ...,1
1,1396246713044652032,就活生のためのグループディスカッション対策まとめ(40176view)｜ https://t...,4
2,1397335585459560449,【登録してくべき就活サイト】\n就職活動において、情報量が大きな武器になります。 以下のサイ...,4
3,1375959601900777474,[就活のお悩みを記入してね] #宇賀なつみ アナに就活相談しよう！抽選で8名様に宇賀アナへの...,3
4,1347685399552880641,ESは就活におけるあなたの名刺代わりのようなもの、\n面接でもベースになるのはES、甘く見て...,4

In [21]:
dumpJoblib('final/final.joblib', final)
dumpJoblib('final/contain.joblib', contain)