In [13]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [20]:
import os
import glob

import pandas as pd
import joblib

def dumpJoblib(fileName, obj):
    with open(fileName, mode="wb") as f:
        joblib.dump(obj, f, compress=3)
        
def loadJoblib(fileName):
    with open(fileName, mode="rb") as f:
        return joblib.load(f)

df = loadJoblib('data_label/00500_00999.joblib')
texts = df['tweet_full_text'].tolist()
df['label'] = 0

In [23]:
start = 500
end = 999

for i in range(start, end+1, 1):
    print('-' * 30)
    print(f'□　□　□ 現在{i}個目の作業です！！\n')
    print(f'ツイート本文：\n {texts[i - 500]}')
    lbl = int(input('\nどのラベルに分類しますか'))
    df.loc[i, 'label'] = lbl
    print('-' * 30)
    
dumpJoblib('data_label_fin/00000_00499.joblib', df)

print('\n\n\n 保存完了　\n\n\n\n\n\n\n')

------------------------------
□　□　□ 現在500個目の作業です！！

ツイート本文：
 [定期]このアカウントはポケ専用アカウントです。就活が終わり次第やりこみますすすすすす

どのラベルに分類しますか 1

------------------------------
------------------------------
□　□　□ 現在501個目の作業です！！

ツイート本文：
 @deeryuri17 さん、はじめまして！！✨

コウキと申します！

就活を捨てて、ポジティブに生きています！🤤

詳しくはプロフィールにかいてます！

もし良かったら、この機会に繋がってみませんか？？👀👀

どのラベルに分類しますか 1

------------------------------
------------------------------
□　□　□ 現在502個目の作業です！！

ツイート本文：
 @tmxMgpuTUTBHm4S @minnanomiku1225 &lt;変異型がこんなにも大流行していても高笑いし

そういえば、就活に悩む学生や親を笑った副学長（私の学生時代当時）とカウンセラーがいました。↓
https://t.co/GpMRKosF4t

どのラベルに分類しますか 4

------------------------------
------------------------------
□　□　□ 現在503個目の作業です！！

ツイート本文：
 RT @Motoyama_Rano: 21歳になりました！たくさんのお祝いありがとうございます！
今はいよいよ就活、という感じでもう大変ですが…それさえ終わったらめちゃくちゃ精力的に活動してやるんだから…！
それまでもう少々わたしのことを忘れないでいてくれると嬉しいです。 ht…

どのラベルに分類しますか 1

------------------------------



 保存完了

,ex_index,tweet_id,tweet_full_text,tweet_favorite_count,tweet_created_at,label
500,435,1396604680034086913,[定期]このアカウントはポケ専用アカウントです。就活が終わり次第やりこみますすすすすす,0,2021-05-24 08:11:18,1
501,14,1396254033862545409,@deeryuri17 さん、はじめまして！！✨\n\nコウキと申します！\n\n就活を捨て...,0,2021-05-23 08:57:57,1
502,243,1390088238572834817,@tmxMgpuTUTBHm4S @minnanomiku1225 &lt;変異型がこんなに...,0,2021-05-06 08:37:17,4
503,370,1352033277184405508,RT @Motoyama_Rano: 21歳になりました！たくさんのお祝いありがとうございま...,0,2021-01-21 08:20:27,1
504,76,1406398605418647552,就活のやつの列もはやアニサマの物販やん,0,2021-06-20 08:48:51,0

In [18]:
df['label']

500    0.0
501    0.0
502    0.0
503    0.0
504    0.0
      ...
98     5.0
99     4.0
100    1.0
101    3.0
102    3.0
Name: label, Length: 603, dtype: float64