In [1]:
import os
import glob

import pandas as pd
import joblib

def dumpJoblib(fileName, obj):
    with open(fileName, mode="wb") as f:
        joblib.dump(obj, f, compress=3)
        
def loadJoblib(fileName):
    with open(fileName, mode="rb") as f:
        return joblib.load(f)
    
df = loadJoblib('Data/contain.joblib')
df.head()

,tweet_id,tweet_full_text,finlabel
0,1370151453805871104,ãŠã¯ã‚ˆã†ã”ã–ã„ã¾ã™â˜€\n\nä¼‘è·382æ—¥ç›®ã€‚æ˜¨æ—¥ã¯ãŸãã•ã‚“ã®ãƒªãƒ—ã‚ã‚ŠãŒã¨ã†ã”ã–ã„ã¾ã—ãŸğŸ˜­âœ¨ã“...,1
1,1396246713044652032,å°±æ´»ç”Ÿã®ãŸã‚ã®ã‚°ãƒ«ãƒ¼ãƒ—ãƒ‡ã‚£ã‚¹ã‚«ãƒƒã‚·ãƒ§ãƒ³å¯¾ç­–ã¾ã¨ã‚(40176view)ï½œ https://t...,4
2,1397335585459560449,ã€ç™»éŒ²ã—ã¦ãã¹ãå°±æ´»ã‚µã‚¤ãƒˆã€‘\nå°±è·æ´»å‹•ã«ãŠã„ã¦ã€æƒ…å ±é‡ãŒå¤§ããªæ­¦å™¨ã«ãªã‚Šã¾ã™ã€‚ ä»¥ä¸‹ã®ã‚µã‚¤...,4
3,1375959601900777474,[å°±æ´»ã®ãŠæ‚©ã¿ã‚’è¨˜å…¥ã—ã¦ã­] #å®‡è³€ãªã¤ã¿ ã‚¢ãƒŠã«å°±æ´»ç›¸è«‡ã—ã‚ˆã†ï¼æŠ½é¸ã§8åæ§˜ã«å®‡è³€ã‚¢ãƒŠã¸ã®...,3
4,1347685399552880641,ESã¯å°±æ´»ã«ãŠã‘ã‚‹ã‚ãªãŸã®ååˆºä»£ã‚ã‚Šã®ã‚ˆã†ãªã‚‚ã®ã€\né¢æ¥ã§ã‚‚ãƒ™ãƒ¼ã‚¹ã«ãªã‚‹ã®ã¯ESã€ç”˜ãè¦‹ã¦...,4

In [2]:
df2 = loadJoblib('Data/final.joblib')
df2.head()

              tweet_id  finlabel
0  1370151453805871104         1
1  1396246713044652032         4
2  1397335585459560449         4
3  1375959601900777474         3
4  1347685399552880641         4

In [3]:
df.to_csv('Data/contain.csv')
df2.to_csv('Data/final.csv')